/* ---------> common */
:root {
  --color-darkorange: #442602;
  --color-darkorange-lighter: #442606;
  --color-white: #fff;
  --color-whitesmoke: #f5f5f5;
  --color-gray: #ddd;
  --color-darkgray: #999;
  --color-black: #000;
  --font-family-mincho: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体",
    "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3",
    "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  --font-family-gothic: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --inner-side-spacing: 0 20px;
  --inner-max-width: 1180px;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family-gothic);
}

h2,
.copy {
  font-size: 20px;
  line-height: 30px;
}

.logo {
  width: 110px;
}

header .navbar h1,
header .navbar-nav .nav-item a,
main #top-content .inner,
main #description,
main #cards {
  padding: var(--inner-side-spacing);
}

.navbar-toggler {
  border: none;
}

button:focus {
  outline: none;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: auto;
}

.dropdown-menu {
  border: none;
}

.card,
.card-header,
.card-img-top,
.card-link {
  border: none;
  border-radius: 0;
}

.btn.focus,
.btn:focus {
  outline: -webkit-focus-ring-color auto 1px;
  box-shadow: none;
}

@media (max-width: 767.98px) {
  .card-deck {
    display: initial;
    flex-flow: initial;
    margin: initial;
  }

  .card-deck .card {
    flex: initial;
    margin: initial;
  }
}
/* <--------- common */

/* ---------> header */
header {
  position: relative;
  z-index: 10;
  background-color: var(--color-black);
}

header .navbar h1 {
  height: 60px;
}

header .navbar-toggler {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

header .navbar-toggler-icon {
  height: 18px;
  width: 16px;
}

header .navbar-toggler-icon span::after {
  content: "";
  display: block;
  height: 2px;
  margin: 3px 0;
  background-color: var(--color-white);
  border-radius: 2px;
}

header #navbarNav {
  position: absolute;
  top: 60px;
  background-color: var(--color-black);
}

header #navbarNav.collapsing {
  transition: height 0.5s;
}

header .navbar-nav .nav-item a {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}

header .navbar-nav .dropdown-menu li {
  padding-left: 1rem;
}

header .navbar-nav .nav-link {
  color: var(--color-white);
}

header .dropdown-menu,
header .dropdown-item,
header .dropdown-item:focus,
header .dropdown-item:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}
/* <--------- header */

/* ---------> main */
main #top-copy {
  background-image: url("./images/top-background.jpg");
  background-size: cover;
  height: 360px;
  color: var(--color-white);
  background-color: var(--color-black);
}

main #top-copy .copy {
  font-family: var(--font-family-mincho);
  writing-mode: vertical-rl;
  font-weight: 500;
  line-height: 26px;
  white-space: nowrap;
}

main #top-content {
  padding: 32px 0;
  margin-bottom: 40px;
  color: var(--color-white);
  background-color: var(--color-black);
}

main #top-content h2 {
  font-family: var(--font-family-mincho);
  margin-bottom: 8px;
}

main #top-content p,
main #description p {
  line-height: 28px;
}

main #description {
  margin-bottom: 40px;
}

main #description .inner {
  padding: 32px 24px;
  background-color: var(--color-whitesmoke);
}

main #description h2 {
  font-family: var(--font-family-mincho);
  margin-bottom: 8px;
  color: var(--color-darkorange-lighter);
}

main #cards {
  margin-bottom: 40px;
}

main #cards .card {
  margin-bottom: 24px;
}

main #cards .card-header {
  position: absolute;
  z-index: 1;
  width: 145px;
  height: 145px;
  padding: 0 0 0 4px;
  overflow: hidden;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: var(--color-darkorange);
  background-color: transparent;
}

main #cards .card-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: 70px solid;
  border-color: var(--color-white) transparent transparent var(--color-white);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

main #cards .card-body {
  padding: 18px 24px 24px;
  background-color: var(--color-whitesmoke);
}

main #cards .card-text {
  margin-bottom: 18px;
  line-height: 28px;
}

main #cards .card-link {
  width: 180px;
  padding: 0;
  font-size: 12px;
  line-height: 46px;
  color: var(--color-white);
  background-color: var(--color-black);
  transition: background-color 0.2s, outline 0.2s;
}

main #cards .card-link:hover {
  background-color: var(--color-darkorange);
}

main #news-event {
  background-color: var(--color-whitesmoke);
  padding: 38px 0 4px;
}

main #news-event .block {
  padding: var(--inner-side-spacing);
}

main #news-event .content {
  margin-bottom: 36px;
}

main #news-event .section-title {
  font-family: var(--font-family-mincho);
  font-size: 22px;
  line-height: 1;
  margin-bottom: 20px;
}

main #news-event .section-title .subtitle {
  font-family: var(--font-family-gothic);
  font-size: 14px;
  margin-left: 12px;
  vertical-align: middle;
}

main #news-event .list {
  margin-bottom: 14px;
}

main #news-event .news-item {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  margin-top: -1px;
}

main #news-event .item-link {
  text-decoration: none;
}

main #news-event .item-link-image {
  display: none;
}

main #news-event .item-link-content {
  padding: 14px 20px;
}

main #news-event .item-link-content > :first-child {
  margin-bottom: 6px;
}

main #news-event .date {
  display: block;
  font-size: 12px;
  line-height: 1;
  color: var(--color-darkgray);
}

main #news-event .text {
  font-size: 14px;
  color: var(--color-black);
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

main #news-event .list-link {
  color: var(--color-black);
  line-height: 1;
  text-decoration: none;
  transition: color 0.2s;
}

main #news-event .list-link:hover {
  color: var(--color-darkgray);
}

main #news-event .list-link::after {
  content: "＞";
  margin-left: 12px;
}

/* <--------- main */

@media (min-width: 768px) {
  /* ---------> common */
  :root {
    --inner-side-spacing: 0 48px;
  }

  .logo {
    width: 143px;
  }

  h2,
  .copy {
    font-size: 36px;
    line-height: 54px;
  }
  /* <--------- common */

  /* ---------> main */
  main #top-copy {
    height: calc(100vw * 9 / 16);
  }

  main #top-copy .copy {
    line-height: 46px;
  }

  main #top-content p,
  main #description p {
    line-height: 36px;
  }

  main #description,
  main #cards {
    margin: 96px 0;
  }

  main #description .block,
  main #cards .block {
    max-width: var(--inner-max-width);
  }

  main #description .inner {
    padding: 48px 24px;
  }

  main #cards .card {
    margin-left: 0;
    margin-right: 20px;
  }

  main #cards .card:last-of-type {
    margin-right: 0;
  }

  main #cards .card-header {
    width: 160px;
    height: 160px;
    font-size: 20px;
  }

  main #cards .card-header::before {
    width: 150px;
    height: 150px;
    border-width: 75px;
  }

  main #cards .card-body {
    padding: 30px 30px 40px;
  }

  main #cards .card-text {
    margin-bottom: 30px;
    line-height: 34px;
  }

  main #cards .card-link {
    font-size: 14px;
    width: 150px;
    line-height: 56px;
  }

  main #news-event {
    padding: 56px 0 60px;
  }

  main #news-event .section-title {
    font-size: 45px;
    margin-bottom: 36px;
  }

  main #news-event .section-title .subtitle {
    font-size: 16px;
  }

  main #news-event .list {
    margin-bottom: 36px;
  }

  main #news-event .item-link {
    display: flex;
  }

  main #news-event .item-link:hover .image {
    transform: scale(1.2);
  }

  main #news-event .item-link-image {
    display: block;
    margin: -1px;
    width: 207px;
  }

  main #news-event .item-link-image .overflow {
    overflow: hidden;
  }

  main #news-event .item-link-image .image {
    display: block;
    width: 207px;
    transition: transform 0.5s;
  }

  main #news-event .item-link-content {
    padding: 20px;
    min-width: 0;
  }

  main #news-event #event .item-link-content {
    margin: auto 0;
    padding: 0 44px;
  }

  main #news-event #news .item-link-content > :first-child {
    margin-bottom: 10px;
  }

  main #news-event .text {
    font-size: 16px;
    line-height: 1;
  }

  main #news-event #event .text {
    line-height: 25px;
  }
  /* <--------- main */
}

@media (min-width: 992px) {
  /* ---------> main */
  main #news-event .inner {
    max-width: var(--inner-max-width);
    margin: auto;
  }

  main #news-event .content {
    padding-right: 12px;
    padding-left: 12px;
  }

  main #news-event .content:first-of-type {
    padding-left: 0;
  }

  main #news-event .content:last-of-type {
    padding-right: 0;
  }

  main #news-event #event .item-link-content {
    padding: 0 32px;
  }

  main #news-event .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  main #news-event #event .text {
    white-space: normal;
  }
  /* <--------- main */
}

@media (min-width: 1200px) {
  /* ---------> header */
  header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
  }

  header .navbar {
    height: 90px;
    max-width: var(--inner-max-width);
    margin: auto;
    width: 92%;
  }

  header .navbar h1 {
    padding: 0;
  }

  header #navbarNav {
    position: static;
    background-color: transparent;
  }

  header .navbar-nav .nav-item a {
    font-size: 14px;
  }

  header .navbar-nav .nav-item .nav-link {
    height: 90px;
    line-height: 90px;
    padding: 0 21px;
  }

  header .navbar-nav .nav-item .nav-link:hover {
    color: #999;
  }

  header .navbar-nav .dropdown-menu li {
    padding: 0;
  }

  header .navbar-nav .dropdown-menu a {
    padding: 18px 18px;
    line-height: 16px;
  }

  header .navbar-nav .dropdown-menu a:hover {
    background: var(--color-darkorange-lighter);
  }

  main #top-content {
    padding: 48px 0;
  }

  main #cards .card {
    margin-right: 30px;
  }

  main #cards .card-link {
    width: 200px;
  }

  main #news-event .content {
    padding-right: 16px;
    padding-left: 16px;
  }
  /* <--------- header */
}
