/* ---------> common */
.logo img {
  width: 110px;
}

.inner {
  padding: 0 20px;
}

.navbar-toggler {
  border: none;
}

button:focus {
  outline: none;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: auto;
}

.dropdown-menu {
  border: none;
}
/* <--------- common */

/* ---------> html */
html {
  font-size: 14px;
}
/* <--------- html */

/* ---------> body */
body {
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
/* <--------- body */

/* ---------> header */
header {
  background: #000000;
}

header .logo {
  height: 60px;
}

header .navbar-toggler {
  padding: 1px 6px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

header .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20width%3D%2216%22%20height%3D%2216%22%3E%20%3Cpath%20fill-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M1%202.75A.75.75%200%20011.75%202h12.5a.75.75%200%20110%201.5H1.75A.75.75%200%20011%202.75zm0%205A.75.75%200%20011.75%207h12.5a.75.75%200%20110%201.5H1.75A.75.75%200%20011%207.75zM1.75%2012a.75.75%200%20100%201.5h12.5a.75.75%200%20100-1.5H1.75z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  height: 18px;
}

header ul.navbar-nav li a {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
}

header ul.navbar-nav li.nav-item a {
  padding: 0 20px;
}

header ul.navbar-nav ul.dropdown-menu li {
  padding: 0 0 0 1rem;
}

header ul.navbar-nav ul.dropdown-menu li a {
  padding: 0 20px;
  display: flex;
}

header .navbar-dark .navbar-nav .nav-link:focus,
header .navbar-dark .navbar-nav .nav-link:hover,
header .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

header .dropdown-menu,
header .dropdown-item,
header .dropdown-item:focus,
header .dropdown-item:hover {
  color: #ffffff;
  background-color: #000000;
}
/* <--------- header */

@media (min-width: 768px) {
  /* ---------> common */
  .logo img {
    width: 50%;
  }
  /* <--------- common */

  /* ---------> header */
  header .logo {
    padding: 0 0 0 5.55556%;
  }

  header ul.navbar-nav li.nav-item a,
  header ul.navbar-nav ul.dropdown-menu li a {
    padding: 0 5.55556%;
  }
  /* <--------- header */
}

@media (min-width: 1200px) {
  /* ---------> header */
  header {
    background-color: rgba(0, 0, 0, 0.5);
  }

  header nav.navbar {
    height: 90px;
    max-width: 1180px;
    margin: auto;
    width: 92.1875%;
  }

  header nav.navbar .logo {
    padding: 0;
    height: auto;
  }

  header ul.navbar-nav li a {
    font-size: 14px;
  }

  header ul.navbar-nav li.nav-item a.nav-link {
    height: 90px;
    line-height: 90px;
    padding: 0 21px;
  }

  header ul.navbar-nav ul.dropdown-menu li {
    padding: 0;
  }

  header ul.navbar-nav ul.dropdown-menu li a {
    padding: 17px 18px;
    line-height: normal;
  }
  /* <--------- header */
}
